#hovDiv{
    float:left;
    width:100px;
    height:100px;
    background-color: green;
}
button{
    float: left;
    clear:both
}

para{
    float:left;
}
#TB{
    float:left;
}
.clear{
    clear: both;
}
#textbutt{
    float:left;
}
h2{
    float:left;
    clear:both 
}

